html,
body {
  height: 100%;
}

main {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
}

#message,
#notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  margin: 1em 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.board div {
  cursor: pointer;
  color: var(--clr-accent);
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 0 auto;
  text-align: center;
}

.restart-btn {
  visibility: hidden;
  cursor: pointer;
  background: var(--clr-accent);
  padding: 1em 2em;
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  margin: 2.5em;
  border: none;
  box-shadow: var(--bs);
}

.restart-btn:active {
  transform: scale(0.9);
}

.board div:hover {
  background-color: white;
}

div.mine,
div.mine:hover {
  background: no-repeat center/60% url('images/bug-svgrepo-com.svg') crimson;
}

div.hidden {
  background: #eee;
}

div.hidden:hover {
  background: #ccc;
}

div.marked,
div.marked:hover {
  background: no-repeat center/60% url('images/bug-svgrepo-com\ \(1\).svg')
    var(--clr-accent);
}

@media (max-width: 640px) {
  .board {
    max-width: 455px;
  }

  .board div {
    width: 67px;
    height: 67px;
  }
}
